body {
    /* Background image from rich35211 https://www.deviantart.com/rich35211/art/Star-Wars-Coruscant-2015-Matte-373876097 */
    background-image: url(../images/background1.jpg);
    background-size: cover;
    overflow: scroll;
    color: #cccccc;
}

.container {
    margin: 0;
    padding: 0;
}

.chars {
    left: 2vw;
    position: relative;
    height: 150px;
    /* width: 408px; */
}

.title {
    right: -20vw;
    position: relative;
    overflow: visible;
    width: 40vw;
}

.wars {
    right: 0;
    text-align: center;
}

.user {
    
}

.chewy {
    padding-right: 0;
    padding-left: 0;
    color: #aa5522;
}

.Yoda {
    padding-right: 0;
    padding-left: 0;
    color: #699a41;
}

#Yoda {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#Yoda-health {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.Palpatine {
    padding-right: 0;
    padding-left: 0;
    color: #8d7e7e;
}

#Palpatine {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#Palpatine-health {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.Jinn {
    padding-right: 0;
    padding-left: 0;
    color: #361dee;
}

#Jinn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#Jinn-health {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#chewy {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#chewy-health {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}